@import url(../fonts/Onest/stylesheet.css);
@font-face {
  font-family: 'Noto Color Emoji';
  src: url(../fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf);
}
:root {
  --ui--checked: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6501 2.15L4.6001 9.2L0.350098 4.95L1.7501 3.55L4.6001 6.4L10.2501 0.75L11.6501 2.15Z' fill='%23ED2E38'/%3E%3C/svg%3E");
}
body {
  color: #212121;
  background: #F5F5F5;
  font-family: 'Onest', 'Noto Color Emoji';
  font-size: 18px;
  line-height: 110%;
}
h1,
h2,
h3 {
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #212121;
  margin: 20px;
}
h1 {
  font-size: 80px;
}
@media (min-width: 960px) {
  h1 {
    font-size: 180px;
  }
}
h2 {
  font-size: 30px;
}
@media (min-width: 960px) {
  h2 {
    font-size: 80px;
  }
}
h3 {
  font-size: 22px;
}
@media (min-width: 960px) {
  h3 {
    font-size: 55px;
  }
}
.title_case {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 48px 40px;
  gap: 10px;
  margin: 20px;
  font-size: 18px;
  line-height: 120%;
  border: 1px solid #212121;
  background: #F9F7F4;
}
.title_case.bg_dark {
  background: #212121;
  color: #FFFFFF;
}
.title_descr {
  font-size: 18px;
  line-height: 120%;
  background: #F5F5F5;
  box-shadow: inset 0 -2px 0 #ED2E38, inset 0 -12px 0 #F5F5F5, inset 0 -18px 0 #ED2E38, inset 0 -28px 0 #F5F5F5, inset 0 -38px 0 #ED2E38;
  padding: 0 0 78px;
  margin: 20px;
}
.title_mentor {
  font-size: 18px;
  line-height: 110%;
  margin: 20px;
  padding: 20px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #212121;
}
.title_mentor_name {
  text-transform: uppercase;
}
.org {
  margin: 20px 0;
  padding: 0 20px;
  text-transform: uppercase;
  max-width: 300px;
  width: calc(100% - 40px);
}
.org_photo {
  height: 300px;
}
.org_photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.org_name {
  font-size: 22px;
  line-height: 100%;
  margin: 60px 0 20px;
}
.org_role {
  font-size: 18px;
  line-height: 120%;
}
.org_name,
.org_role {
  text-align: right;
}
@media (min-width: 960px) {
  .org {
    width: 360px;
    max-width: 360px;
  }
  .org_photo {
    height: 360px;
  }
  .org_name {
    font-size: 50px;
    margin: 40px 0 20px;
  }
}
.popup_title {
  font-size: 30px;
  line-height: 110%;
}
.btn {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #212121;
  padding: 18px 20px;
  margin: 20px 0;
  display: inline-block;
}
.btn.arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn.arrow:after {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-color: #212121;
  -webkit-mask-image: url(../img/arrow_topright.svg);
          mask-image: url(../img/arrow_topright.svg);
}
.btn.arrow.r:after {
  transform: rotate(45deg);
}
.btn.arrow.b:after {
  transform: rotate(135deg);
}
.form_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.form label {
  font-size: 18px;
  line-height: 120%;
}
.form_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px 40px;
  margin: 0 0 18px;
  flex-wrap: wrap;
}
.form_control {
  border: 1px solid #212121;
  padding: 20px;
  font-size: 18px;
  line-height: 20px;
}
.form_control::placeholder {
  color: #212121;
  opacity: 0.3;
  text-transform: uppercase;
}
.form_group select {
  -webkit-appearance: none;
          appearance: none;
  padding: 20px 20px 20px 50px;
  position: relative;
  background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%23212121' stroke-width='2'/%3E%3C/svg%3E") no-repeat 20px 50%;
}
.popup {
  background-color: #ED2E38;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 360px;
}
@media (min-width: 960px) {
  .popup {
    width: 760px;
  }
}
.popup_head {
  display: flex;
  justify-content: flex-end;
}
.popup_close {
  background: url(../img/cross_white.svg) no-repeat;
  width: 25px;
  height: 25px;
  display: block;
}
.popup_title {
  font-size: 30px;
  line-height: 110%;
}
@media (min-width: 960px) {
  .popup_title {
    font-size: 50px;
  }
}
.popup .btn {
  border-color: #FFFFFF;
  color: #FFFFFF;
  padding: 18px 64px;
}
.checkbox_group {
  text-transform: uppercase;
  display: flex;
  gap: 20px;
}
.checkbox_group input[type="checkbox"] {
  border: 1px solid #ED2E38;
  width: 1em;
  height: 1em;
  -webkit-appearance: none;
          appearance: none;
}
.checkbox_group input[type="checkbox"]:checked {
  background: var(--ui--checked) no-repeat 50%;
}
.container {
  width: 100%;
  padding: 10px;
}
